@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Quicksand', sans-serif;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

ul {
    list-style: none;
    padding: 0%;
}

li {
    padding: 0%;
    margin: 0%;
}

/*-------------- header-----------------*/
.header-row ul {
    width: 100%;
    margin: auto;
}

.header-row ul li a:hover {
    text-decoration: none;
}

.header-row ul li {
    display: block;
    width: 16.66%;
}

.header-row ul li a {
    color: white;
    text-align: center;
    display: block;
    font-size: 16px;
    max-width: 100%;
    font-weight: 600;
    border: 1px solid #f8f8f8;
    background-color: #123669;
    padding: 20px 10px;
}

.header-row ul li .active-header {
    background-color: #d2caca;
    color: #123669;
}

/* ---------------------Oportunidad------------------- */
h4.common-title {
    font-weight: 600;
}

.common-desc p {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
}

/*------------------ Características--------------- */
.Características-row ul li {
    list-style: disc;
    font-size: 20px;
    margin-left: 22px;
}


/* ----------------responsive------------------- */
@media screen and (max-width:767px) {
    .header-row ul li a {
        font-size: 12px;
        padding: 15px 0px;
    }
}

@media screen and (max-width:500px) {
    .header-row ul li a {
        font-size: 8px;
        padding: 10px 0px;
    }



    .col-12.d-flex.header-row {
        padding: 0px 5px;

    }
}



/*------------------------Estrategia new page--------------- */
.Estrategia-row ol {
    list-style: none;
    font-size: 20px;

}

.Estrategia-row ol>li:first-child::before {
    content: "1 .";
    color: #29f0b4;
    margin-left: -40px;
    margin-right: 25px;
}

.Estrategia-row ol>li.before-2::before {
    content: "2 .";
    color: #29f0b4;
    margin-left: -40px;
    margin-right: 25px;
}

.Estrategia-row ol ul {
    padding-left: 40px;
}

.Estrategia-row ol ul li::before {
    content: "\2022";
    color: #29f0b4;
    margin-right: 30px;
    margin-left: -35px;
}

/* ----------------------Glosario-------------------------- */
#Glosario-section ol {
    list-style: none;
}

#Glosario-section ol li {
    padding-left: 30px;
    font-size: 20px;
}

#Glosario-section ol li:first-child::before {
    content: "1 .";
    color: #29f0b4;
    margin-left: -40px;
    margin-right: 25px;
}

#Glosario-section ol li:nth-child(2)::before {
    content: "2 .";
    color: #29f0b4;
    margin-left: -40px;
    margin-right: 25px;
}

#Glosario-section ol li:nth-child(3)::before {
    content: "3 .";
    color: #29f0b4;
    margin-left: -40px;
    margin-right: 25px;
}

#Glosario-section ol li:nth-child(3)::before {
    content: "3 .";
    color: #29f0b4;
    margin-left: -40px;
    margin-right: 25px;
}

#Glosario-section ol li:nth-child(4)::before {
    content: "4 .";
    color: #29f0b4;
    margin-left: -40px;
    margin-right: 25px;
}

#Glosario-section ol li:nth-child(5)::before {
    content: "5 .";
    color: #29f0b4;
    margin-left: -40px;
    margin-right: 25px;
}

/* -------------------user data--------------- */
#user-data-section .data-wrapper {
    background-color: #bfbfbf;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;

}

#user-data-section .col-md-3:nth-child(2) .data-wrapper {
    display: flex;
    flex-direction: column;
}

#user-data-section .col-md-3 .data-wrapper h2 {
    font-weight: bold;
    font-size: 40px;
}

/* --------------------------------fondos ---------------------*/
#fondos-section  .first-fondos-title{
    background: #123669;
    margin-bottom: 10px;
    color: #f8f8f8;
}
#fondos-section  .second-fondos{
    margin-left: 10px;
}
#fondos-section  .second-fondos-title{
    background: #d2caca;
    margin-bottom: 10px;
    color: #f8f8f8;
}

#fondos-section  .third-fondos-title{
    background: #123669;
    margin-bottom: 10px;
    color: #f8f8f8;
    
    
}

#fondos-section .first-fondos .second-row .col {
    background-color: #123669;
    color: #f8f8f8;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 20px 10px;
    margin-right: 10px;
}
#fondos-section .second-fondos .second-row .col {
    background-color: #bfbfbf;
    color: #f8f8f8;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 20px 10px;
    margin-right: 10px;
}
#fondos-section .first-fondos .second-row .col:last-child{
    margin-right: 0;
}